# DataFrames in R - Part 01

#### Why use DataFrames?
- Ease of usage
- Functionalities
- Most data comes in tabular format
- compatible with analytical tools

#### Creating Data.Frame

In [1]:
country <- c("France", "Germany", "Greece", "Italy", "Portugal", "Spain")

In [3]:
gdp_growth <- c(1.3, 0.3, 1.9, 0.3, NA, 2)

In [5]:
mkt_type <- factor(c("High", "High", "Low", "Medium", "Low", "Medium"))

In [7]:
print(country)

[1] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"

In [9]:
print(gdp_growth)

[1] 1.3 0.3 1.9 0.3  NA 2.0

In [11]:
print(mkt_type)

[1] High   High   Low    Medium Low    Medium
Levels: High Low Medium

##### Let's convert these vectors into a Data.Frame now

In [13]:
data <- data.frame(country = country, gdp_growth = gdp_growth, mkt_type = mkt_type)
print(data)

   country gdp_growth mkt_type
1   France        1.3     High
2  Germany        0.3     High
3   Greece        1.9      Low
4    Italy        0.3   Medium
5 Portugal         NA      Low
6    Spain        2.0   Medium

In [15]:
class(data)

[1] "data.frame"

#### View()
- In R-studio we can use the "View" function to see the data.frame, but this functionality is not supported in Jupyter notebook.

### edit()
- This function can be used in R-Studio for visually editing the dataframe.
- data_edited <- edit(data)

### Various dataframe operations

#### Accessing the individual columns using the "$" notation

In [17]:
data

  country  gdp_growth mkt_type
1 France   1.3        High
2 Germany  0.3        High
3 Greece   1.9        Low
4 Italy    0.3        Medium
5 Portugal  NA        Low
6 Spain    2.0        Medium

In [19]:
data$country

[1] France   Germany  Greece   Italy    Portugal Spain
Levels: France Germany Greece Italy Portugal Spain

In [21]:
print(data$country)

[1] France   Germany  Greece   Italy    Portugal Spain
Levels: France Germany Greece Italy Portugal Spain

In [23]:
print(data$gdp_growth)

[1] 1.3 0.3 1.9 0.3  NA 2.0

##### If the column name contains spaces, then it should be enclosed within back ticks - "``"

In [26]:
data$`mkt_type`

[1] High   High   Low    Medium Low    Medium
Levels: High Low Medium

In [28]:
print(data$`mkt_type`)

[1] High   High   Low    Medium Low    Medium
Levels: High Low Medium

##### It is to be noted that when we type a space in the column names, it is replaced by a "." in the dataframe by default.

### Creating new columns

In [32]:
data$abbreviated_country <- abbreviate(data$country, minlength = 3)

In [34]:
data$abbreviated_country

[1] "Frn" "Grm" "Grc" "Itl" "Prt" "Spn"

In [36]:
data

  country  gdp_growth mkt_type abbreviated_country
1 France   1.3        High     Frn
2 Germany  0.3        High     Grm
3 Greece   1.9        Low      Grc
4 Italy    0.3        Medium   Itl
5 Portugal  NA        Low      Prt
6 Spain    2.0        Medium   Spn

#### Structure of a dataframe

In [39]:
str(data)

'data.frame':	6 obs. of  4 variables:
 $ country            : Factor w/ 6 levels "France","Germany",..: 1 2 3 4 5 6
 $ gdp_growth         : num  1.3 0.3 1.9 0.3 NA 2
 $ mkt_type           : Factor w/ 3 levels "High","Low","Medium": 1 1 2 3 2 3
 $ abbreviated_country: chr  "Frn" "Grm" "Grc" "Itl" ...

#### Class 22

#### Alternate method using "sapply"

In [43]:
class_data <- sapply(data, class)

In [45]:
print(class_data)

            country          gdp_growth            mkt_type abbreviated_country
           "factor"           "numeric"            "factor"         "character"

#### Please not that by default dataframe changes character vectors to Factors. We may turn it off using the following code:

In [48]:
data <- data.frame(country = country, gdp_growth = gdp_growth, mkt_type = mkt_type, stringsAsFactors = F)
print(data)

   country gdp_growth mkt_type
1   France        1.3     High
2  Germany        0.3     High
3   Greece        1.9      Low
4    Italy        0.3   Medium
5 Portugal         NA      Low
6    Spain        2.0   Medium

In [50]:
print(str(data))

'data.frame':	6 obs. of  3 variables:
 $ country   : chr  "France" "Germany" "Greece" "Italy" ...
 $ gdp_growth: num  1.3 0.3 1.9 0.3 NA 2
 $ mkt_type  : Factor w/ 3 levels "High","Low","Medium": 1 1 2 3 2 3
NULL

#### Appending rows and columns

##### cbind and rbind

In [54]:
data_cbind <- cbind(data, data)
data_cbind

  country  gdp_growth mkt_type country  gdp_growth mkt_type
1 France   1.3        High     France   1.3        High
2 Germany  0.3        High     Germany  0.3        High
3 Greece   1.9        Low      Greece   1.9        Low
4 Italy    0.3        Medium   Italy    0.3        Medium
5 Portugal  NA        Low      Portugal  NA        Low
6 Spain    2.0        Medium   Spain    2.0        Medium

In [56]:
data_rbind <- rbind(data, data)
data_rbind

   country  gdp_growth mkt_type
1  France   1.3        High
2  Germany  0.3        High
3  Greece   1.9        Low
4  Italy    0.3        Medium
5  Portugal  NA        Low
6  Spain    2.0        Medium
7  France   1.3        High
8  Germany  0.3        High
9  Greece   1.9        Low
10 Italy    0.3        Medium
11 Portugal  NA        Low
12 Spain    2.0        Medium

##### rbind can take multiple dataframes as its arguments

### Inspecting dataframe

In [60]:
data_multiple_repetitions <- rbind(data, data, data, data)
data_multiple_repetitions

   country  gdp_growth mkt_type
1  France   1.3        High
2  Germany  0.3        High
3  Greece   1.9        Low
4  Italy    0.3        Medium
5  Portugal  NA        Low
6  Spain    2.0        Medium
7  France   1.3        High
8  Germany  0.3        High
9  Greece   1.9        Low
10 Italy    0.3        Medium
11 Portugal  NA        Low
12 Spain    2.0        Medium
13 France   1.3        High
14 Germany  0.3        High
15 Greece   1.9        Low
16 Italy    0.3        Medium
17 Portugal  NA        Low
18 Spain    2.0        Medium
19 France   1.3        High
20 Germany  0.3        High
21 Greece   1.9        Low
22 Italy    0.3        Medium
23 Portugal  NA        Low
24 Spain    2.0        Medium

#### See top 6 rows

In [63]:
head(data_multiple_repetitions)

  country  gdp_growth mkt_type
1 France   1.3        High
2 Germany  0.3        High
3 Greece   1.9        Low
4 Italy    0.3        Medium
5 Portugal  NA        Low
6 Spain    2.0        Medium

#### See bottom 6 rows

In [66]:
tail(data_multiple_repetitions)

   country  gdp_growth mkt_type
19 France   1.3        High
20 Germany  0.3        High
21 Greece   1.9        Low
22 Italy    0.3        Medium
23 Portugal  NA        Low
24 Spain    2.0        Medium

In [68]:
head(data_multiple_repetitions, 10)

   country  gdp_growth mkt_type
1  France   1.3        High
2  Germany  0.3        High
3  Greece   1.9        Low
4  Italy    0.3        Medium
5  Portugal  NA        Low
6  Spain    2.0        Medium
7  France   1.3        High
8  Germany  0.3        High
9  Greece   1.9        Low
10 Italy    0.3        Medium

In [70]:
tail(data_multiple_repetitions, 10)

   country  gdp_growth mkt_type
15 Greece   1.9        Low
16 Italy    0.3        Medium
17 Portugal  NA        Low
18 Spain    2.0        Medium
19 France   1.3        High
20 Germany  0.3        High
21 Greece   1.9        Low
22 Italy    0.3        Medium
23 Portugal  NA        Low
24 Spain    2.0        Medium

#### Checking dimensions of the dataframe

In [73]:
dim(data_multiple_repetitions)

[1] 24  3

#### Number of rows

In [76]:
nrow(data_multiple_repetitions)

[1] 24

In [78]:
ncol(data_multiple_repetitions)

[1] 3

In [80]:
dim(data_multiple_repetitions)[1]

[1] 24

In [82]:
dim(data_multiple_repetitions)[2]

[1] 3

#### Row names & column names

In [85]:
rownames(data_multiple_repetitions)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24"

In [87]:
rownames(data_multiple_repetitions) <- paste0('row_', rownames(data_multiple_repetitions))
rownames(data_multiple_repetitions)

 [1] "row_1"  "row_2"  "row_3"  "row_4"  "row_5"  "row_6"  "row_7"  "row_8"
 [9] "row_9"  "row_10" "row_11" "row_12" "row_13" "row_14" "row_15" "row_16"
[17] "row_17" "row_18" "row_19" "row_20" "row_21" "row_22" "row_23" "row_24"

In [89]:
data_multiple_repetitions

       country  gdp_growth mkt_type
row_1  France   1.3        High
row_2  Germany  0.3        High
row_3  Greece   1.9        Low
row_4  Italy    0.3        Medium
row_5  Portugal  NA        Low
row_6  Spain    2.0        Medium
row_7  France   1.3        High
row_8  Germany  0.3        High
row_9  Greece   1.9        Low
row_10 Italy    0.3        Medium
row_11 Portugal  NA        Low
row_12 Spain    2.0        Medium
row_13 France   1.3        High
row_14 Germany  0.3        High
row_15 Greece   1.9        Low
row_16 Italy    0.3        Medium
row_17 Portugal  NA        Low
row_18 Spain    2.0        Medium
row_19 France   1.3        High
row_20 Germany  0.3        High
row_21 Greece   1.9        Low
row_22 Italy    0.3        Medium
row_23 Portugal  NA        Low
row_24 Spain    2.0        Medium

In [91]:
colnames(data_multiple_repetitions)

[1] "country"    "gdp_growth" "mkt_type"

In [93]:
colnames(data_multiple_repetitions) <- c("Country", "GDP Growth", "Market Type")

In [95]:
colnames(data_multiple_repetitions)

[1] "Country"     "GDP Growth"  "Market Type"

In [97]:
data_multiple_repetitions

       Country  GDP Growth Market Type
row_1  France   1.3        High
row_2  Germany  0.3        High
row_3  Greece   1.9        Low
row_4  Italy    0.3        Medium
row_5  Portugal  NA        Low
row_6  Spain    2.0        Medium
row_7  France   1.3        High
row_8  Germany  0.3        High
row_9  Greece   1.9        Low
row_10 Italy    0.3        Medium
row_11 Portugal  NA        Low
row_12 Spain    2.0        Medium
row_13 France   1.3        High
row_14 Germany  0.3        High
row_15 Greece   1.9        Low
row_16 Italy    0.3        Medium
row_17 Portugal  NA        Low
row_18 Spain    2.0        Medium
row_19 France   1.3        High
row_20 Germany  0.3        High
row_21 Greece   1.9        Low
row_22 Italy    0.3        Medium
row_23 Portugal  NA        Low
row_24 Spain    2.0        Medium

#### Access the columns with space in the column name

In [100]:
colnames(data_multiple_repetitions)

[1] "Country"     "GDP Growth"  "Market Type"

In [102]:
data_multiple_repetitions$`GDP Growth`

 [1] 1.3 0.3 1.9 0.3  NA 2.0 1.3 0.3 1.9 0.3  NA 2.0 1.3 0.3 1.9 0.3  NA 2.0 1.3
[20] 0.3 1.9 0.3  NA 2.0

#### Summary of dataframe

In [105]:
summary(data_multiple_repetitions)

   Country            GDP Growth   Market Type
 Length:24          Min.   :0.30   High  :8
 Class :character   1st Qu.:0.30   Low   :8
 Mode  :character   Median :1.30   Medium:8
                    Mean   :1.16
                    3rd Qu.:1.90
                    Max.   :2.00
                    NA's   :4

#### Unique rows

In [108]:
unique(data_multiple_repetitions)

      Country  GDP Growth Market Type
row_1 France   1.3        High
row_2 Germany  0.3        High
row_3 Greece   1.9        Low
row_4 Italy    0.3        Medium
row_5 Portugal  NA        Low
row_6 Spain    2.0        Medium

#### Select, delete and subset

#### Access the individual columns

In [112]:
data_multiple_repetitions[, c(1)]

 [1] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"
 [7] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"
[13] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"
[19] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"

In [114]:
data_multiple_repetitions[,c(2)]

 [1] 1.3 0.3 1.9 0.3  NA 2.0 1.3 0.3 1.9 0.3  NA 2.0 1.3 0.3 1.9 0.3  NA 2.0 1.3
[20] 0.3 1.9 0.3  NA 2.0

In [116]:
data_multiple_repetitions[, c('GDP Growth')]

 [1] 1.3 0.3 1.9 0.3  NA 2.0 1.3 0.3 1.9 0.3  NA 2.0 1.3 0.3 1.9 0.3  NA 2.0 1.3
[20] 0.3 1.9 0.3  NA 2.0

### Access specific rows

In [119]:
data_multiple_repetitions[c(1,2,3,4,5),]

      Country  GDP Growth Market Type
row_1 France   1.3        High
row_2 Germany  0.3        High
row_3 Greece   1.9        Low
row_4 Italy    0.3        Medium
row_5 Portugal  NA        Low

In [121]:
data_multiple_repetitions[c(1,2,3), ]

      Country GDP Growth Market Type
row_1 France  1.3        High
row_2 Germany 0.3        High
row_3 Greece  1.9        Low

In [123]:
data_multiple_repetitions[c(1:10), c(1,2)]

       Country  GDP Growth
row_1  France   1.3
row_2  Germany  0.3
row_3  Greece   1.9
row_4  Italy    0.3
row_5  Portugal  NA
row_6  Spain    2.0
row_7  France   1.3
row_8  Germany  0.3
row_9  Greece   1.9
row_10 Italy    0.3

In [125]:
data_multiple_repetitions[c(1,2,3,4,5), c('Country')]

[1] "France"   "Germany"  "Greece"   "Italy"    "Portugal"

* We can ask R to drop a particular row by the following code

In [128]:
data_multiple_repetitions

       Country  GDP Growth Market Type
row_1  France   1.3        High
row_2  Germany  0.3        High
row_3  Greece   1.9        Low
row_4  Italy    0.3        Medium
row_5  Portugal  NA        Low
row_6  Spain    2.0        Medium
row_7  France   1.3        High
row_8  Germany  0.3        High
row_9  Greece   1.9        Low
row_10 Italy    0.3        Medium
row_11 Portugal  NA        Low
row_12 Spain    2.0        Medium
row_13 France   1.3        High
row_14 Germany  0.3        High
row_15 Greece   1.9        Low
row_16 Italy    0.3        Medium
row_17 Portugal  NA        Low
row_18 Spain    2.0        Medium
row_19 France   1.3        High
row_20 Germany  0.3        High
row_21 Greece   1.9        Low
row_22 Italy    0.3        Medium
row_23 Portugal  NA        Low
row_24 Spain    2.0        Medium

In [130]:
data_multiple_repetitions[-c(6), c('Country')]

 [1] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "France"
 [7] "Germany"  "Greece"   "Italy"    "Portugal" "Spain"    "France"
[13] "Germany"  "Greece"   "Italy"    "Portugal" "Spain"    "France"
[19] "Germany"  "Greece"   "Italy"    "Portugal" "Spain"

### Dropping specific columns and rows

In [133]:
data_multiple_repetitions$Country <- NULL

In [135]:
head(data_multiple_repetitions)

      GDP Growth Market Type
row_1 1.3        High
row_2 0.3        High
row_3 1.9        Low
row_4 0.3        Medium
row_5  NA        Low
row_6 2.0        Medium

In [137]:
data_multiple_repetitions$Country <- country

In [139]:
head(data_multiple_repetitions)

      GDP Growth Market Type Country
row_1 1.3        High        France
row_2 0.3        High        Germany
row_3 1.9        Low         Greece
row_4 0.3        Medium      Italy
row_5  NA        Low         Portugal
row_6 2.0        Medium      Spain

#### Show all the columns except specific columns

In [142]:
data_multiple_repetitions[, -1]

       Market Type Country
row_1  High        France
row_2  High        Germany
row_3  Low         Greece
row_4  Medium      Italy
row_5  Low         Portugal
row_6  Medium      Spain
row_7  High        France
row_8  High        Germany
row_9  Low         Greece
row_10 Medium      Italy
row_11 Low         Portugal
row_12 Medium      Spain
row_13 High        France
row_14 High        Germany
row_15 Low         Greece
row_16 Medium      Italy
row_17 Low         Portugal
row_18 Medium      Spain
row_19 High        France
row_20 High        Germany
row_21 Low         Greece
row_22 Medium      Italy
row_23 Low         Portugal
row_24 Medium      Spain

In [144]:
data_multiple_repetitions[, -c(1,2)]

 [1] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"
 [7] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"
[13] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"
[19] "France"   "Germany"  "Greece"   "Italy"    "Portugal" "Spain"

### Attributes and comments
- We can add attributes of the dataframe as metadata

#### Attributes of dataframe

In [148]:
data

  country  gdp_growth mkt_type
1 France   1.3        High
2 Germany  0.3        High
3 Greece   1.9        Low
4 Italy    0.3        Medium
5 Portugal  NA        Low
6 Spain    2.0        Medium

In [150]:
print(attributes(data))

$names
[1] "country"    "gdp_growth" "mkt_type"

$class
[1] "data.frame"

$row.names
[1] 1 2 3 4 5 6

#### Creating attribute

In [153]:
attr(data, 'source') = 'manmade'

In [155]:
attributes(data)

$names
[1] "country"    "gdp_growth" "mkt_type"

$class
[1] "data.frame"

$row.names
[1] 1 2 3 4 5 6

$source
[1] "manmade"

In [157]:
data

  country  gdp_growth mkt_type
1 France   1.3        High
2 Germany  0.3        High
3 Greece   1.9        Low
4 Italy    0.3        Medium
5 Portugal  NA        Low
6 Spain    2.0        Medium

#### Accessing specific attributes

In [160]:
attr(data, 'source')

[1] "manmade"

In [162]:
data

  country  gdp_growth mkt_type
1 France   1.3        High
2 Germany  0.3        High
3 Greece   1.9        Low
4 Italy    0.3        Medium
5 Portugal  NA        Low
6 Spain    2.0        Medium

### Storing comments

In [165]:
comment(data)

NULL

In [167]:
comment(data) <- 'Sample dataframe by me'

In [169]:
comment(data)

[1] "Sample dataframe by me"

In [171]:
attributes(data)

$names
[1] "country"    "gdp_growth" "mkt_type"

$class
[1] "data.frame"

$row.names
[1] 1 2 3 4 5 6

$source
[1] "manmade"

$comment
[1] "Sample dataframe by me"

In [173]:
str(data)

'data.frame':	6 obs. of  3 variables:
 $ country   : chr  "France" "Germany" "Greece" "Italy" ...
 $ gdp_growth: num  1.3 0.3 1.9 0.3 NA 2
 $ mkt_type  : Factor w/ 3 levels "High","Low","Medium": 1 1 2 3 2 3
 - attr(*, "source")= chr "manmade"
 - attr(*, "comment")= chr "Sample dataframe by me"

* Comments are used rarely.

### Saving dataframe to a disk

#### Export without row names

In [178]:
write.csv(data, "Small_data.csv", row.names = F)

### Importing data from other file formats
* Use the library "haven" for reading SAS(.sas), SPSS(.sav, .por) and stata(.dta) files
* Use the library "xlsx" for reading excel files

### R datasets, packages and public datasets

#### library(help = 'datasets')

In [183]:
?mtcars

mtcars                package:datasets                 R Documentation

_M_o_t_o_r _T_r_e_n_d _C_a_r _R_o_a_d _T_e_s_t_s

_D_e_s_c_r_i_p_t_i_o_n:

     The data was extracted from the 1974 _Motor Trend_ US magazine,
     and comprises fuel consumption and 10 aspects of automobile design
     and performance for 32 automobiles (1973-74 models).

_U_s_a_g_e:

     mtcars

_F_o_r_m_a_t:

     A data frame with 32 observations on 11 (numeric) variables.

       [, 1]  mpg   Miles/(US) gallon
       [, 2]  cyl   Number of cylinders
       [, 3]  disp  Displacement (cu.in.)
       [, 4]  hp    Gross horsepower
       [, 5]  drat  Rear axle ratio
       [, 6]  wt    Weight (1000 lbs)
       [, 7]  qsec  1/4 mile time
       [, 8]  vs    Engine (0 = V-shaped, 1 = straight)
       [, 9]  am    Transmission (0 = automatic, 1 = manual)
       [,10]  gear  Number of forward gears
       [,11]  carb  Number of carburetors

_N_o_t_e:

     Henderson and Velleman (1981) comment in a footnote to Table 1:
     'Hocking [original transcriber]'s noncrucial coding of the Mazda's
     rotary engine as a straight six-cylinder engine and the Porsche's
     flat engine as a V engine, as well as the inclusion of the diesel
     Mercedes 240D, have been retained to enable direct comparisons to
     be made with previous analyses.'

_S_o_u_r_c_e:

     Henderson and Velleman (1981), Building multiple regression models
     interactively.  _Biometrics_, *37*, 391-411.

_E_x_a_m_p_l_e_s:

     require(graphics)
     pairs(mtcars, main = "mtcars data", gap = 1/4)
     coplot(mpg ~ disp | as.factor(cyl), data = mtcars,
            panel = panel.smooth, rows = 1)
     ## possibly more meaningful, e.g., for summary() or bivariate plots:
     mtcars2 <- within(mtcars, {
        vs <- factor(vs, labels = c("V", "S"))
        am <- factor(am, labels = c("automatic", "manual"))
        cyl  <- ordered(cyl)
        gear <- ordered(gear)
        carb <- ordered(carb)
     })
     summary(mtcars2)

#### ?mtcars

### Useful data summarization functions
- Describe from Hmisc package
- stat.desc from pastecs
- describe from psych
- skim from skimr
- describe and dfsummary from summary tools

In [187]:
data

  country  gdp_growth mkt_type
1 France   1.3        High
2 Germany  0.3        High
3 Greece   1.9        Low
4 Italy    0.3        Medium
5 Portugal  NA        Low
6 Spain    2.0        Medium

In [189]:
Hmisc::describe(data)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

data

 3  Variables      6  Observations
--------------------------------------------------------------------------------
country
       n  missing distinct
       6        0        6

Value        France  Germany   Greece    Italy Portugal    Spain
Frequency         1        1        1        1        1        1
Proportion    0.167    0.167    0.167    0.167    0.167    0.167
--------------------------------------------------------------------------------
gdp_growth
       n  missing distinct     Info     Mean      Gmd
       5        1        4     0.95     1.16        1

Value      0.3 1.3 1.9 2.0
Frequency    2   1   1   1
Proportion 0.4 0.2 0.2 0.2
--------------------------------------------------------------------------------
mkt_type
       n  missing distinct
       6        0        3

Value        High    Low Medium
Frequency       2      2      2
Proportion  0.333  0.333  0.333
--------------------------------------------------------------------------------

- Hmisc is more popular than any other libraries